<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="devEnv = ${#arrays.contains(@environment.getActiveProfiles(),'development')}">
<head>
	<title>Feedback</title>
	<th:block th:include="include/meta :: meta" />
</head>
<body >
	<div class="container">
		<th:block th:include="include/navbar :: navbar" />

		<h1 class="page-header">Feedback</h1>
		<div th:if="${globalError}" th:text="${globalError}" class="alert alert-danger row"></div>

		<div class="row">
			<div class="col-sm-8">
				<form role="form" th:action="@{/feedback/send}" method="POST" th:object="${feedbackForm}" class="form-horizontal">
					<div class="form-group form-group-sm">
						<label class="control-label col-sm-3" for="url">Name:</label> 
						<div class="col-sm-9">
							<input class="form-control" type="text" name="name" id="name" th:field="*{name}" /> 
							<div class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
						</div>
					</div>
					<div class="form-group form-group-sm">
						<label class="control-label col-sm-3" for="email">Email:</label>
						<div class="col-sm-9">
							<input class="form-control" type="text" name="email" id="email"  th:field="*{email}" />
						</div>
					</div>
					<div class="form-group form-group-sm">
						<label class="control-label col-sm-3" for="message">Message:</label>
						<div class="col-sm-9">
							<textarea name="message" id="message" rows="10" class="form-control" th:field="*{message}"></textarea>
							<div class="alert alert-danger" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></div>
						</div>
					</div>
					<div class="form-group form-group-sm">
						<div class="text-center">
							<button type="submit" class="btn btn-default">Submit</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-sm-4 well well-lg">
				Here you can send me a message. Tell me something interesting!
			</div>
		</div>
	</div>
</body>
</html>