<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="meta">

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
        
<title>Picasa To Blog</title>

<script th:src="${devEnv} ? @{/resources/ckeditor/ckeditor.js} : @{~/resources/ckeditor/ckeditor.js}"></script>
<script th:src="${devEnv} ? @{/resources/jquery/jquery-2.1.4.min.js} : @{~/resources/jquery/jquery-2.1.4.min.js}"></script>

<link th:href="${devEnv} ? @{/resources/bootstrap/css/bootstrap.min.css} :  @{~/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

<script>
/*<![CDATA[*/
	$(document).ready(function (){
		if( $( '#editor' ).length )	{
			CKEDITOR.config.toolbarGroups = [
				{ name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
				{ name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
				{ name: 'forms', groups: [ 'forms' ] },
				{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
				{ name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
				{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
				{ name: 'links', groups: [ 'links' ] },
				{ name: 'insert', groups: [ 'insert' ] },
				{ name: 'styles', groups: [ 'styles' ] },
				{ name: 'colors', groups: [ 'colors' ] },
				{ name: 'tools', groups: [ 'tools' ] },
				{ name: 'others', groups: [ 'others' ] },
				{ name: 'about', groups: [ 'about' ] } 
			];
			CKEDITOR.config.removeButtons = 'Save,Templates,NewPage,Preview,Print,Find,Replace,SelectAll,Scayt,Form,Checkbox,Radio,TextField,Textarea,Select,ImageButton,Button,HiddenField,Subscript,Superscript,Language,BidiLtr,BidiRtl,About,Styles,Format,Font,FontSize,Flash,Smiley,SpecialChar,PageBreak,Iframe,TextColor,BGColor,Maximize,ShowBlocks,Blockquote,CreateDiv,Outdent,Indent,BulletedList,NumberedList,JustifyLeft,JustifyCenter,JustifyRight,JustifyBlock,HorizontalRule';
			CKEDITOR.config.height = $(document).height()-70;
			CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
			
			CKEDITOR.replace( 'editor', {
				on: {
			        instanceReady: function( ev ) {
			        	var blockTags = ['div','h1','h2','h3','h4','h5','h6','p','pre','ul','li','p','img'];
			            
			            for (var i=0; i<blockTags.length; i++) {
							this.dataProcessor.writer.setRules( blockTags[i], {
				                indent: false,
				                breakBeforeOpen: true,
				                breakAfterOpen: false,
				                breakBeforeClose: false,
				                breakAfterClose: true
				            });
						}
			        }
			    }
			} );
			
		  	$('html, body').animate({
			    scrollTop: $( '#editor' ).offset().top
			}, 1000);
		}
	});
/*]]>*/
</script>

</head>

</html>
