<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="meta">

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="google-site-verification" content="LiknSCkmJ6tw_0RiXyN2xIYm3gqeFFq7asxoWQ-K0ls" />

<script th:src="@{/resources/ckeditor/ckeditor.js}"></script>
<script th:src="@{/resources/jquery/jquery-2.1.4.min.js}"></script>
<script th:src="@{/resources/app/script.js}"></script>

<link th:href="@{/resources/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

<script>
/*<![CDATA[*/
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-17195663-2', 'auto');
  ga('send', 'pageview');
/*]]>*/  
</script>

</head>

</html>
